<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/add_course.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go
			To Login Page</button>
	</form>
	<button id="xxx">przycisk</button>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="courseForm" autocomplete="off" action="#"
					th:action="@{/add_course}" th:object="${trainingDTO}" method="post"
					class="form-horizontal" role="form" enctype="multipart/form-data">
					<h2>Create your course</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label> <input type="text"
								th:field="*{name}" placeholder="Name" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}" class="validation-message"></label> <input
								type="text" th:field="*{description}" placeholder="Description"
								class="form-control" />
						</div>
					</div>
					<div>
						<ul id="contentUL">
							<li th:each="item, stat : *{contentList}" class="itemRow" onclick="updateOrder()">
								<div>
									<!-- <label th:for="${'orderNR-'+stat.index}">Order</label> --> <input
										type="number" class="form-control quantity hidden orderNR" name="orderNR"
										th:field="*{contentList[__${stat.index}__].orderNR}"
										th:id="${'orderNR-'+stat.index}" /> <label
										th:for="${'file-'+stat.index}">File</label> <input type="file"
										class="form-control quantity" name="file"
										th:field="*{contentList[__${stat.index}__].file}"
										th:id="${'file-'+stat.index}" /> <label
										th:for="${'description-'+stat.index}">description</label> <input
										type="text" class="form-control quantity" name="description"
										th:field="*{contentList[__${stat.index}__].description}"
										th:id="${'description-'+stat.index}" />
								</div>
							</li>
						</ul>
					</div>
					<!-- <div class="form-group">
						<div class="col-sm-9">
							<input type="file" th:field="*{file}"
								placeholder="Add content" class="form-control" /> <label
								th:if="${#fields.hasErrors('file')}" th:errors="*{file}"
								class="validation-message"></label>
						</div>
					</div> -->
					<!-- <div class="form-group">
						<label class="col-xs-1 control-label">Content:</label>
						<div class="col-xs-1">
							<input type="number"
								th:field="*{trainingDTO.contentDTO[0].order}"
								class="form-control" name="" placeholder="Order" />
						</div>
						<div class="col-xs-3">
							<input type="file" th:field="*{trainingDTO.contentDTO[0].file}"
								class="form-control" name="" placeholder="File" />
						</div>
						<div class="col-xs-6">
							<input type="text"
								th:field="*{trainingDTO.contentDTO[0].description}"
								class="form-control" name="" placeholder="Description" />
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-default addButton">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div> -->

					<!-- The template for adding new field -->
					<!-- <div class="form-group hide" id="contentTemplate">
						<div class="col-xs-1 col-xs-offset-1">
							<input type="number" class="form-control" th:field="order"
								name="" placeholder="Order" />
						</div>
						<div class="col-xs-3">
							<input type="text" class="form-control" th:field="file" name=""
								placeholder="File" />
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" th:field="description"
								name="" placeholder="Description" />
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-default removeButton">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-sm-9">
							<input type="number" th:field="*{price}" placeholder="Price"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Create
								course</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>


				</form>
			</div>
		</div>
	</div>

</body>
</html>