<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Course Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/add_course2.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go
			To Login Page</button>
	</form>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Create your course</h2>
				<div class="form-group">
					<div class="col-sm-9">
						<label class="validation-message"></label> <input id="courseName" type="text"
							placeholder="Name" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<label class="validation-message"></label> <input id="courseDescription" type="text"
							placeholder="Description" class="form-control" />
					</div>
				</div>
				<!-- <div>
					<ul id="contentUL">
						<li class="itemRow" onclick="updateOrder()">
							<div>
								<input id="contentOrderNR1" type="number"
									class="form-control quantity hidden orderNR" name="orderNR" />
								<label>File</label> <input id="contentFile1" type="file"
									class="form-control quantity" name="file" /> <label>description</label>
								<input id="contentDescription1" type="text" class="form-control quantity"
									name="description" />
							</div>
							<div>
								<input id="contentOrderNR2" type="number"
									class="form-control quantity hidden orderNR" name="orderNR" />
								<label>File</label> <input type="file" id="contentFile2"
									class="form-control quantity" name="file" /> <label>description</label>
								<input id="contentDescription2" type="text" class="form-control quantity"
									name="description" />
							</div>
						</li>
					</ul>
				</div> -->
				<div class="form-group">
					<div class="col-sm-9">
						<input id="coursePrice" type="number" placeholder="Price" class="form-control" />
						<label class="validation-message"></label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<button type="button" class="btn btn-primary btn-block" onclick="addCourse();">Create
							course</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>