<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/coursesManager.js}"></script>
    <script th:src="@{/js/courseDetails.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="#home" id="mainLogo"><img width="151" height="38" src="/images/logo.jpg"/></a></li>

    <li><input type="text" aria-label="Search: " placeholder="Search..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Search</button>
    </li>

    <li class="right"><form id="logoutForm" action="/logout"></form>

        <form th:action="@{/logout}" method="get">
            <button  class="btn btn-default curseButton"  name="registration"
                     type="Submit">Logout</button>
        </form>
    <li class="right"><p id="loggedUser">Logged as: <span th:text="${user.user.getName() + ' ' + user.user.getLastName() }"></span> </p></li>
</ul>
<em></em>

<ul class="small-menu">

</ul>

<ul class="nav nav-pills main-menu-items">
    <li><a href="#home" class="main-menu-items">About </a></li>
    <li><a href="#home" class="main-menu-items">Contact</a></li>
    <li><a href="#home" class="main-menu-items">Courses</a></li>
</ul>

<ul class="nav nav-pills" id="submenu2">
    <div class="alert alert-success" id="alertAdd" hidden="hidden">
        <button type="button" class="close" data-hide="alert">&times;</button>
        Course added
    </div>
    <div class="alert alert-success" style="display:none; margin:20px 10px;" id="alertUpdate">
        <button class="close" data-dismiss="alert">&times;</button>
        <span id="success">
					<b>Course updated.</b>
				</span>
    </div>
    <div class="alert alert-success" style="display:none; margin:20px 10px;" id="alertAddToCourse">
        <button class="close" data-dismiss="alert">&times;</button>
        <span id="elos">
					<b>You just bought the access for this course! Contratulations</b>
				</span>
    </div>
</ul>


<style>
    .main-course-info{
        margin:10px 30px 30px 30px;
        font-weight:bold;
        color:red;
        font-size:18px;
    }

    .main-course-info-label{
        margin:10px;
        font-weight:bold;
        color:black;
        display:none;
        text-align:center;
        align:center;
        float: none;
        margin: 0 auto;
    }



</style>


<div class="col-md-6" style="    background-color: pink;border-radius: 25px;margin: 30px;padding: 20px;">
    <span id="traningId123" style="visibility:hidden;"></span>
    <span id="userId"  style="visibility:hidden;" th:text="${user.user.getId()}"></span>
    <label for="courseName"> Name:  </label>
    <p id="courseName" class="main-course-info" > Angular js </p>
    <label for="coursePrice"> Price: </label>
    <p id="coursePrice" class="main-course-info"> 23.5 zl</p>
    <label for="courseDesciption" > Description: </label>
    <p id="courseDesciption" class="main-course-info" > Tutaj bedzie  </p>
    <button class="btn btn-default" onclick="buyTraining($('#traningId123').html(), $('#userId').html());">Buy This Training! </button>
</div>










<!-- Modal -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Edytuj kurs</h4>
            </div>
            <div class="modal-body">
                Nazwa Kursu:
                <input type="text" style="width:100%;" id="courseNamePopUp" /><br/>
                Cena Kursu:
                <input type="text" style="width:100%;" id="coursePricePopUp" /><br/>

                Kategoria Kursu:
                <select id="courseCategoryPopUp" style="width:100%;" class="form-control" placeholder="Kategoria Kursu np. programowanie..">

                    <option value="PROGRAMMING"> Programming </option>
                    <option value="GRAPHICS"> Graphics</option>
                    <option value=" BUSINESS"> Business</option>
                    <option value="HEALTH"> Health</option>
                    <option value="FASHION "> Fashion</option>
                    <option value="SPORT"> Sport</option>
                    <option value="OTHER"> Other</option>

                </select>
                Opis Kursu:
                <textarea style="width:100%;" id="courseDescPopUp" ></textarea>
                <br/>
                <span style="visibility: hidden;" id="courseId"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal" onclick="updateCurseData($('#courseId').html());">Zapisz
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usuń</h4>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć kurs (zmiany nie będą mogły być cofnięte)? <span style="visibility:hidden;" id="courseId2"></span>
                </p>

            </div>

            <div class="modal-footer">
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal" onclick="deleteCourse($('#courseId2').html());">Usuń Kurs
                </button>
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal">Zamknij
                </button>
            </div>
        </div>
    </div>
</div>


<p id="paramId" style="visibility: hidden" th:text="${id}"></p>

<script>

    $( document ).ready(function(){
        loadCourseData($('#paramId').html());
    });
</script>








</body>
</html>





