<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="#home" id="mainLogo"><img width="151" height="38" src="logo.jpg"/></a></li>
    
    <li><input type="text" aria-label="Szukaj kursów: " placeholder="Szukaj Kursów..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Szukaj</button>
    </li>
  
    <li class="right"><a href="login.html" id="login">Logowanie</a></li>
</ul>
<em></em>

<ul class="small-menu">

</ul>

<ul class="nav nav-pills main-menu-items">
    <li><a href="#home" class="main-menu-items">Nasza Misja</a></li>
    <li><a href="#home" class="main-menu-items">O nas </a></li>
    <li><a href="#home" class="main-menu-items">Kontakt</a></li>
    <li><a href="#home" class="main-menu-items">Panel administratora</a></li>
    <li><a href="#home" class="main-menu-items">Kursy</a></li>
</ul>

<ul class="nav nav-pills" id="submenu2">
    
</ul>


    
    


 <div class="col-md-4">

  <form action="/action_page.php">

    <label for="name">Nazwa kursu:</label>
    <input style="width: 400px;" type="text" id="name" name="name" placeholder="Np. Angular JS tutorial..." />
            
    <label for="description">Opis kursu:</label>
    <textarea id="description" placeholder="Dokładny opis kursu..." rows="4" cols="50"></textarea>
    <br/>

      <button class="btn btn-default">Dodaj kurs</button>

  </form>
</div>
    
<div class="col-md-4">
    <label>  Moje kursy:</label>
  <ol>
      
      <li> Kurs 1</li> <button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li> <button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li><button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li><button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li><button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li><button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
      <li> Kurs 1</li><button  class="btn btn-default" > Edytuj</button><button  class="btn btn-default" > Usuń</button>
    
 </ol>
</div>




</body>
</html>





