<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="./index" id="mainLogo"><img width="151" height="38" src="/images/logo.jpg"/></a></li>

    <li><input type="text" aria-label="Search " placeholder="Search..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Search</button>
    </li>

    <li class="right"><a th:if="${user == null}" href="login.html" id="login">Log in</a>

        <form th:if="${user != null}" style="float: right;" th:action="@{/logout}" method="get">
            <button class="btn btn-default curseButton" name="registration"
                    type="Submit">Logout
            </button>
        </form>
        <button onclick="getUserCoList()" style="float: right;margin:10px; padding:10px;" class="btn btn-default curseButton">Bought Courses</button>
        <a  th:if="${user != null}" href="/index_l"  style="float: right;margin:10px; padding:10px;" class="btn btn-default curseButton"> My courses </a>
        <p style="float: right;" th:if="${user != null}" th:text="${user.user.getName() + ' ' + user.user.getLastName() +', Points on your accounts: '+user.user.getPoints() }"></p>

        <ul class="dropdown-menu">
            <li class="dropdown-header">Menu</li>
            <li><a href="./userData">My profile</a></li>
            <li><a href="#">My courses</a></li>
            <li><a href="#">My Tasks</a></li>
            <li><a href="./index_l">Trainer page</a></li>
        </ul>
    </li>
</ul>
<em></em>

<ul class="small-menu">

</ul>

<ul class="nav nav-pills main-menu-items">
    <li><a href="#home" class="main-menu-items">About </a></li>
    <li><a href="#home" class="main-menu-items">Contact</a></li>
</ul>

<ul class="nav nav-pills" id="submenu2">
    <li><a onclick="getCoursesList('PROGRAMMING', false);"> Programming</a></li>
    <li><a onclick="getCoursesList('GRAPHICS', false);"> Graphics</a></li>
    <li><a onclick="getCoursesList('BUSINESS', false);"> Business</a></li>
    <li><a onclick="getCoursesList('HEALTH', false);"> Health</a></li>
    <li><a onclick="getCoursesList('FASHION', false);"> Fashion</a></li>
    <li><a onclick="getCoursesList('SPORT', false);"> Sport</a></li>
    <li><a onclick="getCoursesList('OTHER', false);"> Other</a></li>
</ul>


<p id="curseLabel">Search for courses <b>learnNow:</b></p>


<div class='row' id="pageContent">


</div>


</body>
</html>





