<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/coursesManager.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="./index" id="mainLogo"><img width="151" height="38" src="/images/logo.jpg"/></a></li>

    <li><input type="text" aria-label="Szukaj kursów: " placeholder="Szukaj Kursów..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Search</button>
    </li>

    <li class="right">
     <!--   <a  th:if="${user != null}" href="/index_l"  style="float: right;margin:10px; padding:10px;" class="btn btn-default curseButton"> My Courses</a> -->




    <li class="right" style="display: inline;">

    <ul style="" class="loggedInList">
  <li>  <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" style="    margin: -10px;" type="button" data-toggle="dropdown">
            <span th:text="${user.user.getName() + ' ' + user.user.getLastName() }"></span>
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="./userData">My profile</a></li>
            <li><a href="./myCourses">My courses</a></li>
            <li><a href="./tasks">My Tasks</a></li>
            <li><a href="./index_l">Trainer page</a></li>
            <li>
                <form id="logoutForm" action="/logout"></form>

                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-default curseButton" name="registration"
                            type="Submit">Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
  </li>
    <li>
    Points on your account:
    <span th:text="${user.user.getPoints() }"></span>
        </li>
    </ul>
</li>


</ul>
<em></em>

<ul class="small-menu">

</ul>



<ul class="nav nav-pills" id="submenu2">
    <div class="alert alert-success" id="alertAdd" hidden="hidden">
        <button type="button" class="close" data-hide="alert">&times;</button>
        Course added
    </div>

    <div class="alert alert-success" id="alertContentDelete" hidden="hidden">
        <button type="button" class="close" data-hide="alert">&times;</button>
        Element of course deleted.
    </div>

    <div class="alert alert-success" style="display:none; margin:20px 10px;" id="alertUpdate">
        <button class="close" data-dismiss="alert">&times;</button>
        <span id="success">
					<b>Course data updated.</b>
				</span>
    </div>
</ul>


<div class="col-md-4">
    <label for="myCurses" style="margin:30px;"> Add new course: </label>
    <form id="cursesForm">
        <label for="courseName">Name:</label>
        <input id="courseName" style="width:400px;" type="text" placeholder="eg. angular js Tutorial...">
        <label for="coursePrice">Price:</label>
        <input id="coursePrice" style="width:400px;" type="text" placeholder="Price...">
        <label for="courseCategory">Category:</label>
        <select id="courseCategory" style="width:400px;" class="form-control"
                placeholder="Category..">

            <option value="PROGRAMMING"> Programming</option>
            <option value="GRAPHICS"> Graphics</option>
            <option value=" BUSINESS"> Business</option>
            <option value="HEALTH"> Health</option>
            <option value="FASHION "> Fashion</option>
            <option value="SPORT"> Sport</option>
            <option value="OTHER"> Other</option>

        </select>

        <label for="courseDesc">Description:</label>
        <textarea id="courseDesc" cols="50" rows="4" placeholder="Description..."></textarea>
        <button type="button" class="btn btn-default" onclick="addNewCourse();">Add course!</button>


    </form>
</div>


<div class="col-md-8">
    <label for="myCurses" style="margin: 30px;"> Courses added by user </label>
    <div id="myCurses" style="border:none;margin:0px;">


    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Edit course</h4>
            </div>
            <div class="modal-body">
                Name:
                <input type="text" style="width:100%;" id="courseNamePopUp"/><br/>
                Price:
                <input type="text" style="width:100%;" id="coursePricePopUp"/><br/>

                Category:
                <select id="courseCategoryPopUp" style="width:100%;" class="form-control"
                        placeholder="Category..">

                    <option value="PROGRAMMING"> Programming</option>
                    <option value="GRAPHICS"> Graphics</option>
                    <option value=" BUSINESS"> Business</option>
                    <option value="HEALTH"> Health</option>
                    <option value="FASHION "> Fashion</option>
                    <option value="SPORT"> Sport</option>
                    <option value="OTHER"> Other</option>

                </select>
               	Description:
                <textarea style="width:100%;" id="courseDescPopUp"></textarea>
                <br/>
                <span style="visibility: hidden;" id="courseId"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal"
                        onclick="updateCurseData($('#courseId').html());">Save
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete? <span
                        style="visibility:hidden;" id="courseId2"></span>
                </p>

            </div>

            <div class="modal-footer">
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal"
                        onclick="deleteCourse($('#courseId2').html());">Delete course
                </button>
                <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAddContent" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalContentAdd">Add to course:</h4>
            </div>
            <div class="modal-body">
                <form id="form2" action="/file" method="post" enctype="multipart/form-data">

                    Add content:
                    <input type="file" name="file" style="width:100%;" id="courseContentFile"/><br/>
                    Description:
                    <input type="text" name="description" style="width:100%;" id="courseContentDescription"/><br/>
                    Order:
                    <input type="number" min="0" step="1" name="orderNr" style="width:100%;" id="courseContentOrderNumber"/><br/>

                    <input type="text" name="trainingId" style="visibility: hidden;" id="trainingId"/>

                    <input type="text" name="name" type="hidden"> <br/>
                    <span id="trainingName" style="visibility: hidden;"></span>

                    <input type="submit" class="offset3 btn btn-primary btn-round"
                           value="Dodaj do kursu!">
                    </input>
                    <div class="modal-footer">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

        <!-- Modal -->
        <div class="modal fade" id="deleteContentModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Usuń</h4>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure you want to delete? <span
                                style="visibility:hidden;" id="deleteContentId"></span>
                        </p>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal"
                                onclick="deleteContent($('#deleteContentId').html());">Delete course
                        </button>
                        <button type="button" class="offset3 btn btn-primary btn-round" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>





