<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <link rel="stylesheet" th:href="@{/css/star-rating-svg.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/coursesManager.js}"></script>
    <script th:src="@{/js/myCourses.js}"></script>
    <script th:src="@{/js/handlebars-v4.0.10.js}"></script>
    <script th:src="@{/js/jquery.star-rating-svg.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="./index" id="mainLogo"><img width="151" height="38" src="/images/logo.jpg"/></a></li>

    <li><input type="text" aria-label="Szukaj kursów: " placeholder="Szukaj Kursów..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Search</button>
    </li>

    <li class="right">
        <!--   <a  th:if="${user != null}" href="/index_l"  style="float: right;margin:10px; padding:10px;" class="btn btn-default curseButton"> My Courses</a> -->



    <li class="right" style="display: inline;">

        <ul style="" class="loggedInList">
            <li>  <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="    margin: -10px;" type="button" data-toggle="dropdown">
                    <span th:text="${user.user.getName() + ' ' + user.user.getLastName() }"></span>
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="./userData">My profile</a></li>
                    <li><a href="./myCourses">My courses</a></li>
                    <li><a href="./tasks">My Tasks</a></li>
                    <li><a href="./index_l">Trainer page</a></li>
                    <li>
                        <form id="logoutForm" action="/logout"></form>

                        <form th:action="@{/logout}" method="get">
                            <button class="btn btn-default curseButton" name="registration"
                                    type="Submit">Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            </li>
            <li>
                Points on your account:
                <span th:text="${user.user.getPoints() }"></span>
            </li>
        </ul>
    </li>


</ul>
<em></em>


<ul class="small-menu">

</ul>

<ul class="nav nav-pills main-menu-items">
    <li><a href="#home" class="main-menu-items">About </a></li>
    <li><a href="#home" class="main-menu-items">Contact</a></li>
    <li><a href="#home" class="main-menu-items">Courses</a></li>
</ul>


<div class="list-group" id="courses">

</div>

<div class="my-rating"></div>


<p id="paramId" style="visibility: hidden" th:text="${user.user.getId()}"></p>

<script id="courseTemplate" type="text/x-handlebars-template">
<div class="media" id="c{{id}}" plainId="{{id}}">
  <div class="media-left">
    <a href="/video?name={{name}}">
      <img class="media-object" src="images/{{category}}.jpg" alt="{category}">
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{name}}</h4>
    {{description}}
  </div>
  <div id="rate{{id}}" plainId="{{id}}" userId="{{loggedUserId}}" >
  </div>
</div>
</script>

<script>

   
</script>
</body>
</html>