<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/sarna.css}"/>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/coursesManager.js}"></script>
    <script th:src="@{/js/userData.js}"></script>
</head>
<body>

<ul class="main-menu">
    <li><a class="active" href="#home" id="mainLogo"><img width="151" height="38" src="/images/logo.jpg"/></a></li>

    <li><input type="text" aria-label="Szukaj kursów: " placeholder="Szukaj Kursów..." id="findCourse">
        <button type="button" class="btn btn-default" id="courseLookupButton">Search</button>
    </li>

    <li class="right">
        <!--   <a  th:if="${user != null}" href="/index_l"  style="float: right;margin:10px; padding:10px;" class="btn btn-default curseButton"> My Courses</a> -->



    <li class="right" style="display: inline;">

        <ul style="" class="loggedInList">
            <li>  <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="    margin: -10px;" type="button" data-toggle="dropdown">
                    <span th:text="${user.user.getName() + ' ' + user.user.getLastName() }"></span>
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="./userData">My profile</a></li>
                    <li><a href="#">My courses</a></li>
                    <li><a href="#">My Tasks</a></li>
                    <li><a href="./index_l">Trainer page</a></li>
                    <li>
                        <form id="logoutForm" action="/logout"></form>

                        <form th:action="@{/logout}" method="get">
                            <button class="btn btn-default curseButton" name="registration"
                                    type="Submit">Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            </li>
            <li>
                Points on your account:
                <span th:text="${user.user.getPoints() }"></span>
            </li>
        </ul>
    </li>


</ul>
<em></em>


<ul class="small-menu">

</ul>

<ul class="nav nav-pills main-menu-items">
    <li><a href="#home" class="main-menu-items">About </a></li>
    <li><a href="#home" class="main-menu-items">Contact</a></li>
    <li><a href="#home" class="main-menu-items">Courses</a></li>
</ul>

<ul class="nav nav-pills" id="submenu2">
    <div class="alert alert-success" id="alertPassChanged" hidden="hidden">
        <button type="button" class="close" data-hide="alert">&times;</button>
        Password Changed.
    </div>
</ul>

<div class="col-md-8" style="  background-color: plum;border-radius: 25px;margin: 30px;padding: 20px;">
    <label for="userName"> Name :  </label><br/>
    <input style="width: 400px;" type="text" id="userName" name="userName" disabled/><br/>
    <label for="userLastName"> Surname: </label><br/>
    <input style="width: 400px;" type="text" id="userLastName" name="userLastName" disabled/><br/>
    <label for="userEmail" > Email: </label><br/>
    <input style="width: 400px;" type="text" id="userEmail" name="userEmail" disabled/><br/>
    <label for="userPoints" > UserPoints: </label><br/>
    <input style="width: 400px;" type="text" id="userPoints" name="userPoints" disabled/><br/>
    <button data-toggle='modal'  data-target='#modalUpdate' style='float:right;' class='update-Course btn btn-info'>Change password</button>
</div>

<!-- Modal -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="closeMe">&times;</button>
                <h4 class="modal-title" id="modalTitle">Change password</h4>
            </div>
            <div class="modal-body">
                Provide old Password:
                <input type="text" style="width:100%;" id="oldPassword"/><br/>
                Insert new password:
                <input type="text" style="width:100%;" id="newPassword"/><br/>
                Insert new password:
                <input type="text" style="width:100%;" id="newPassword2"/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="offset3 btn btn-primary btn-round"
                        onclick="passwordValidation();">Change password!
                </button>
            </div>
        </div>
    </div>
</div>

<p id="paramId" style="visibility: hidden" th:text="${user.user.getId()}"></p>

<script>

    $( document ).ready(function(){
        loadUserData($('#paramId').html());
    });
</script>
</body>
</html>





