<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
<div id="content">
<span id="traningId123" th:text="${first.training_id}" style="visibility:hidden;"></span>
<span id="order_nr" th:text="${first.order_nr}" style="visibility:hidden;"></span>
<span id="traningName" th:text="${t_name}"></span>
<video id="video" width="320" height="240" controls>
  <source id="src" iter="0" th:src="${first.path}" type="video/mp4">
  <!--  <source id="src" iter="0" src="..\content\test\mov_bbb.mp4" type="video/mp4">-->
Your browser does not support the video tag.
</video>
<span id="description" th:text="${first.description}"></span>
<button onclick="nextVideo($('#traningId123').html(), $('#order_nr').html())">Next video</button>
<button onclick="previousVideo($('#traningId123').html(), $('#order_nr').html())">Previous video</button>
</div>
</body>

<script>
function nextVideo(id, ordernr) {
	ordernr = Number(ordernr) +1;
	$.get( "/content/"+id+"/"+ordernr, function (data) {
        if (data.length == 0){

        }
        else{
                $('#order_nr').empty().append(data.order_nr);
                $('#description').empty().append(data.description);
                //$('#video').remove();
                //var video = "<video id='video' width='320' height='240' controls> <source id='src' iter='0' src='"+data.path+"' type='video/mp4'></video>";
                //$("content").append(video);
            	var myVideo = document.getElementsByTagName('video')[0];
				myVideo.src = data.path;
				myVideo.load();
				console.log("elo")
        }
    });
	//$('#video').attr('src', 'content\\test\\small.mp4');
	//var iter = $('#video').attr('iter');
	//iter = Number(iter) +1;
	//console.log("iterator: " + iter);
	//$('#video').attr('iter', iter);
	//var src = '${courses['+iter+'].path}'
	//$('#video').attr('th:src', src);
}

function previousVideo(id, ordernr) {
	ordernr = Number(ordernr) -1;
	$.get( "/content/"+id+"/"+ordernr, function (data) {
        if (data.length == 0){

        }
        else{
                $('#order_nr').empty().append(data.order_nr);
                $('#description').empty().append(data.description);
                //$('#video').remove();
                //var video = "<video id='video' width='320' height='240' controls> <source id='src' iter='0' src='"+data.path+"' type='video/mp4'></video>";
                //$("content").append(video);
            	var myVideo = document.getElementsByTagName('video')[0];
				myVideo.src = data.path;
				myVideo.load();
				console.log("elo")
        }
    });
}



</script>
</html>